.mainav{
    display: flex;
   margin-left: 8px;
  }
  .span{
    /* padding: 1rem; */
    font-weight: bolder;
    color: red;
    font-size: 25px;
  }
  .mainav ul{
    display: flex;
  }
  .mainav ul li{
    text-decoration: none;
    list-style: none;
    padding: 1rem;
   
  }
 .about{
    margin-top: 3px;
    font-size: 20px;
 }